<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>twity</title>
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <script src="https://cdn.auth0.com/js/lock/10.14/lock.min.js"></script>
    <script src="http://cdn.auth0.com/js/auth0/8.5/auth0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js'></script>
    <script src="https://cdn.auth0.com/js/lock/10.14/lock.min.js"></script>
    <script src="http://cdn.auth0.com/js/auth0/8.5/auth0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.0/vue.js"></script>
</head>
<body>

    <div class="container">
        <br><br>
        <div class="row">
            <div class="column column-20"></div>
            <div class="column column-60">
                <br><br><br><br>
                <h1>Selam</h1>
                <p>Uygulamamızın amacı dslakdşlfkjsa</p>
                <a class="button" href="/login" onclick="clickAuthorization()">Twitter ile bağlan</a>
            </div>
        </div>
    </div>



    <script src="../static/js/index.js"></script>

</body>
</html>